/*body {
    background: url(https://cdn.afrihost.com/images/page_headers/gradient_image_bg_header_cyan.jpg) repeat-x center top;
}

.container-fluid {
        background-color: rgba(255, 255, 255, 0.4);
        margin: 10px;
        padding-top: 10px;
}

.navbar-header, .widget-header {
        background: #c80000;
}

.navbar-preferences input[type=text] {
    background-color: #3CBC8D;
    color: white;
}

.panel-heading {
        background: #c80000;
        border: 1px #fff;
}

.panel a, .widget a {
        color: #c80000;
}
*/